<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>DARKSIDE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon"
      href="{{ url_for('static', filename='images/fav.png') }}?v=999">
</head>

<body>

    <nav>

        <div class="logo">

            <a href="/">DARK<span>SIDE</span></a>

        </div>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/projects">Projects</a></li>

            <li><a href="/gallery">Gallery</a></li>

            <li><a href="/contact">Contact</a></li>

        </ul>

    </nav>

    {% block content %}

    {% endblock %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>