<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DARKSIDE</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


    <header>

        <!-- Navbar -->

        <nav>

            <div class="logo">
                MY<span>BATTLEFIELD</span>
            </div>

            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/gallery">Gallery</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <a href="/projects" class="btn-nav">
                ENTER


            </a>
        </nav>

        <!-- Hero Section -->

        <section class="hero">

            <div class="left">

                <div class="line"></div>

                <h3>WELCOME TO MY</h3>

                <h1>DARKSIDE</h1>

                <p>
                    Embrace the darkness.<br>
                    Discover your power.
                </p>
                <a href="{{ url_for('intro') }}" class="btn">
                    EXPLORE NOW
                </a>

            </div>

            <div class="right">

                <div class="hero-card">

                    
                    <div>
                        <img src="{{ url_for('static', filename='image/img2.jpeg') }}" alt="Hero Image">
                    </div>

                </div>

        </section>

    </header>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>


</body>

</html>