{% extends "base.html" %}

{% block content %}

<section class="projects">

    <h1>MY PROJECTS</h1>

    <p class="subtitle">
        Practical projects built while learning development and cybersecurity.
    </p>

    <div class="project-grid">

        <div class="project-card">

            <h2>🔐 Password Manager</h2>

            <p>
                A secure application for storing and managing passwords.
            </p>

            <a href="#">View Project</a>

        </div>

        <div class="project-card">

            <h2>🌐 Network Scanner</h2>

            <p>
                Discover devices connected to a network and display information.
            </p>

            <a href="#">View Project</a>

        </div>

        <div class="project-card">

            <h2>🛡️ Flask Dashboard</h2>


            <p>
                A modern dashboard built using Flask and Python.
            </p>
            <li><a href="/flasky">View Project</a></li>
        </div>

    </div>

</section>

{% endblock %}